/*
    ### variables ###
*/
// Variable for small tablets
$smalltablet: "screen and (min-width: 620px)";
// Variable for lartge tablets and laptops
$ltabletlaptop: "screen and (min-width: 960px)";
// Variable for desktops
$desktop: "screen and (min-width: 1200px)";

/*
    ### reset ###
*/

/*
    ### global ###
*/

/*
    ###  ###
*/

/*
    ### ###
*/
